In [ ]:
#Defining path to census 2000-2010 files to be able to append all of them into one data frame
import glob

In [ ]:
import os

In [ ]:
path = '/content/Census_data/2000-2010'

In [ ]:
extension = 'csv'

In [ ]:
os.chdir(path)

In [ ]:
result = glob.glob('*.{}'.format(extension))

In [ ]:
print(len(result))

51

In [ ]:
import pandas as pd

In [ ]:
#Appending all census data from 2000-2010 together
df_csv_append = pd.DataFrame()
for file in result:
    print(file)
    df = pd.read_csv(file, encoding='latin-1')
    df_csv_append = df_csv_append.append(df, ignore_index=True)
 
df_csv_append

co-est00int-alldata-24.csv
co-est00int-alldata-04.csv
co-est00int-alldata-02 (1).csv
co-est00int-alldata-28.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-17.csv
co-est00int-alldata-13.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-35.csv
co-est00int-alldata-53.csv
co-est00int-alldata-49.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-23.csv
co-est00int-alldata-36.csv
co-est00int-alldata-09.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-40.csv
co-est00int-alldata-21.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-01 (2).csv
co-est00int-alldata-56 (1).csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-39.csv
co-est00int-alldata-20.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-50.csv
co-est00int-alldata-32.csv
co-est00int-alldata-16.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-10.csv
co-est00int-alldata-38.csv
co-est00int-alldata-18.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-30.csv
co-est00int-alldata-41.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-27.csv
co-est00int-alldata-42.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-06.csv
co-est00int-alldata-33.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-46.csv
co-est00int-alldata-34.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-26.csv
co-est00int-alldata-45.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-08.csv
co-est00int-alldata-11.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-25.csv
co-est00int-alldata-12.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-05.csv
co-est00int-alldata-54.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-37.csv
co-est00int-alldata-48 (1).csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-19.csv
co-est00int-alldata-55.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-22.csv
co-est00int-alldata-31.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-51.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-47.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-29.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-44.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

co-est00int-alldata-15.csv

<ipython-input-9-7db9aed1ee1e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HBA_MALE,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE
0,50,24,1,Maryland,Allegany County,1,0,732,391,341,...,2,0,0,1,0,0,0,0,0,0
1,50,24,1,Maryland,Allegany County,1,1,3024,1572,1452,...,1,2,1,0,0,1,0,0,2,3
2,50,24,1,Maryland,Allegany County,1,2,4174,2142,2032,...,3,3,0,0,0,0,0,0,3,1
3,50,24,1,Maryland,Allegany County,1,3,4572,2376,2196,...,3,2,0,1,0,0,0,0,1,1
4,50,24,1,Maryland,Allegany County,1,4,5556,2711,2845,...,2,5,1,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817175,50,15,9,Hawaii,Maui County,13,15,4413,2064,2349,...,0,1,2,3,18,31,1,2,9,10
817176,50,15,9,Hawaii,Maui County,13,16,3257,1491,1766,...,0,0,1,6,18,19,6,6,5,12
817177,50,15,9,Hawaii,Maui County,13,17,2761,1115,1646,...,1,9,2,1,7,15,1,0,6,12
817178,50,15,9,Hawaii,Maui County,13,18,2706,994,1712,...,0,0,0,0,5,18,0,3,3,8
817179,50,15,9,Hawaii,Maui County,13,99,155124,77761,77363,...,44,54,207,195,856,861,522,526,3032,3086

In [ ]:
#Year is not defined as an absolute year, but a code that refers to a certain year. Certain year codes need to be dropped, given value '0'
def categorise(row):
    if row['YEAR'] == 1:
      return 0 
    if row['YEAR'] == 2:
        return 2000
    if row['YEAR'] == 3:
        return 2001
    if row['YEAR'] == 4:
        return 2002
    if row['YEAR'] == 5:
        return 2003
    if row['YEAR'] == 6:
        return 2004
    if row['YEAR'] == 7:
        return 2005
    if row['YEAR'] == 8:
        return 2006
    if row['YEAR'] == 9:
        return 2007
    if row['YEAR'] == 10:
        return 2008
    if row['YEAR'] == 11:
        return 2009
    if row['YEAR'] == 12:
        return 0
    if row['YEAR'] == 13:
        return 2010    
    return 0

In [ ]:
#New year column "POP_YEAR" is created
df_csv_append['POP_YEAR'] = df_csv_append.apply (lambda row: categorise(row), axis=1)

In [ ]:
df_csv_append

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,POP_YEAR
0,50,24,1,Maryland,Allegany County,1,0,732,391,341,...,0,0,1,0,0,0,0,0,0,0
1,50,24,1,Maryland,Allegany County,1,1,3024,1572,1452,...,2,1,0,0,1,0,0,2,3,0
2,50,24,1,Maryland,Allegany County,1,2,4174,2142,2032,...,3,0,0,0,0,0,0,3,1,0
3,50,24,1,Maryland,Allegany County,1,3,4572,2376,2196,...,2,0,1,0,0,0,0,1,1,0
4,50,24,1,Maryland,Allegany County,1,4,5556,2711,2845,...,5,1,0,0,0,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817175,50,15,9,Hawaii,Maui County,13,15,4413,2064,2349,...,1,2,3,18,31,1,2,9,10,2010
817176,50,15,9,Hawaii,Maui County,13,16,3257,1491,1766,...,0,1,6,18,19,6,6,5,12,2010
817177,50,15,9,Hawaii,Maui County,13,17,2761,1115,1646,...,9,2,1,7,15,1,0,6,12,2010
817178,50,15,9,Hawaii,Maui County,13,18,2706,994,1712,...,0,0,0,5,18,0,3,3,8,2010
817179,50,15,9,Hawaii,Maui County,13,99,155124,77761,77363,...,54,207,195,856,861,522,526,3032,3086,2010

In [ ]:
#Age group 0 defines whole population, which is what we are looking at, so every other age group is dropped
df_csv_append = df_csv_append[df_csv_append.AGEGRP == 0]

In [ ]:
df_csv_append

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,POP_YEAR
0,50,24,1,Maryland,Allegany County,1,0,732,391,341,...,0,0,1,0,0,0,0,0,0,0
20,50,24,1,Maryland,Allegany County,2,0,732,390,342,...,0,0,1,0,0,0,0,0,0,2000
40,50,24,1,Maryland,Allegany County,3,0,728,358,370,...,0,0,1,0,0,0,0,0,0,2001
60,50,24,1,Maryland,Allegany County,4,0,669,372,297,...,0,0,1,0,0,0,0,0,0,2002
80,50,24,1,Maryland,Allegany County,5,0,703,395,308,...,1,0,1,0,0,0,0,0,0,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817080,50,15,9,Hawaii,Maui County,9,0,2074,1083,991,...,1,2,6,26,11,45,35,130,106,2007
817100,50,15,9,Hawaii,Maui County,10,0,2137,1101,1036,...,1,4,6,26,9,46,41,137,109,2008
817120,50,15,9,Hawaii,Maui County,11,0,2181,1110,1071,...,1,3,4,18,6,28,20,131,103,2009
817140,50,15,9,Hawaii,Maui County,12,0,2035,1041,994,...,1,3,2,12,4,20,12,125,100,0
817160,50,15,9,Hawaii,Maui County,13,0,2021,1037,984,...,0,3,2,12,4,20,12,125,101,2010

In [ ]:
#FIPS code is given as county and state seperately
#New code has to be created which is a composite of both so that other data can be joined later on
#Creating a string version of the county column
df_csv_append['FIPS_COUNTY'] = df_csv_append['COUNTY'].astype(str)

<ipython-input-15-d51943562d25>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append['FIPS_COUNTY'] = df_csv_append['COUNTY'].astype(str)

In [ ]:
#Adding leading zeroes to match necessary format
df_csv_append['FIPS_COUNTY'] = df_csv_append['FIPS_COUNTY'].str.zfill(3)

<ipython-input-16-5333e34f9bd3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append['FIPS_COUNTY'] = df_csv_append['FIPS_COUNTY'].str.zfill(3)

In [ ]:
#Creating string version of state column
df_csv_append['FIPS_STATE'] = df_csv_append['STATE'].astype(str)

<ipython-input-17-e6c2378b54a8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append['FIPS_STATE'] = df_csv_append['STATE'].astype(str)

In [ ]:
#Adding leading zeroes to match necessary format
df_csv_append['FIPS_STATE'] = df_csv_append['FIPS_STATE'].str.zfill(2)

<ipython-input-18-30958fd316a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append['FIPS_STATE'] = df_csv_append['FIPS_STATE'].str.zfill(2)

In [ ]:
#Creating FIPS code which is a composite of state and county
df_csv_append['FIPS_CODE'] = df_csv_append['FIPS_STATE'] + df_csv_append['FIPS_COUNTY']

<ipython-input-19-51b1de1b7d06>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append['FIPS_CODE'] = df_csv_append['FIPS_STATE'] + df_csv_append['FIPS_COUNTY']

In [ ]:
df_csv_append

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,POP_YEAR,FIPS_COUNTY,FIPS_STATE,FIPS_CODE
0,50,24,1,Maryland,Allegany County,1,0,732,391,341,...,0,0,0,0,0,0,0,001,24,24001
20,50,24,1,Maryland,Allegany County,2,0,732,390,342,...,0,0,0,0,0,0,2000,001,24,24001
40,50,24,1,Maryland,Allegany County,3,0,728,358,370,...,0,0,0,0,0,0,2001,001,24,24001
60,50,24,1,Maryland,Allegany County,4,0,669,372,297,...,0,0,0,0,0,0,2002,001,24,24001
80,50,24,1,Maryland,Allegany County,5,0,703,395,308,...,0,0,0,0,0,0,2003,001,24,24001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817080,50,15,9,Hawaii,Maui County,9,0,2074,1083,991,...,26,11,45,35,130,106,2007,009,15,15009
817100,50,15,9,Hawaii,Maui County,10,0,2137,1101,1036,...,26,9,46,41,137,109,2008,009,15,15009
817120,50,15,9,Hawaii,Maui County,11,0,2181,1110,1071,...,18,6,28,20,131,103,2009,009,15,15009
817140,50,15,9,Hawaii,Maui County,12,0,2035,1041,994,...,12,4,20,12,125,100,0,009,15,15009
817160,50,15,9,Hawaii,Maui County,13,0,2021,1037,984,...,12,4,20,12,125,101,2010,009,15,15009

In [ ]:
#Dropping years that we do not want
df_csv_append = df_csv_append[df_csv_append.POP_YEAR != 0]

In [ ]:
df_csv_append

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,POP_YEAR,FIPS_COUNTY,FIPS_STATE,FIPS_CODE
20,50,24,1,Maryland,Allegany County,2,0,732,390,342,...,0,0,0,0,0,0,2000,001,24,24001
40,50,24,1,Maryland,Allegany County,3,0,728,358,370,...,0,0,0,0,0,0,2001,001,24,24001
60,50,24,1,Maryland,Allegany County,4,0,669,372,297,...,0,0,0,0,0,0,2002,001,24,24001
80,50,24,1,Maryland,Allegany County,5,0,703,395,308,...,0,0,0,0,0,0,2003,001,24,24001
100,50,24,1,Maryland,Allegany County,6,0,654,334,320,...,0,0,0,0,0,0,2004,001,24,24001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817060,50,15,9,Hawaii,Maui County,8,0,1936,1006,930,...,26,12,45,25,122,98,2006,009,15,15009
817080,50,15,9,Hawaii,Maui County,9,0,2074,1083,991,...,26,11,45,35,130,106,2007,009,15,15009
817100,50,15,9,Hawaii,Maui County,10,0,2137,1101,1036,...,26,9,46,41,137,109,2008,009,15,15009
817120,50,15,9,Hawaii,Maui County,11,0,2181,1110,1071,...,18,6,28,20,131,103,2009,009,15,15009
817160,50,15,9,Hawaii,Maui County,13,0,2021,1037,984,...,12,4,20,12,125,101,2010,009,15,15009

In [ ]:
#Downloading csv
from google.colab import files
df_csv_append.to_csv('Census2000-2010.csv', encoding = 'utf-8-sig') 
files.download('Census2000-2010.csv')

In [ ]:
#Repeating all steps for data from 2010-2020
path = '/content/Census_data/2010-2020'
extension = 'csv'
os.chdir(path)
result = glob.glob('*.{}'.format(extension))

In [ ]:
df_csv_append2020 = pd.DataFrame()
for file in result:
    print(file)
    df = pd.read_csv(file, encoding='latin-1')
    df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
 
df_csv_append2020

CC-EST2020-ALLDATA-42.csv
CC-EST2020-ALLDATA-21.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-22.csv
CC-EST2020-ALLDATA-16.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-50.csv
CC-EST2020-ALLDATA-19.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-45.csv
CC-EST2020-ALLDATA-09.csv
CC-EST2020-ALLDATA-36.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-55.csv
CC-EST2020-ALLDATA-48.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-33.csv
CC-EST2020-ALLDATA-06.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-08.csv
CC-EST2020-ALLDATA-25.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-44.csv
CC-EST2020-ALLDATA-11.csv
CC-EST2020-ALLDATA-26.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-47.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-04.csv
CC-EST2020-ALLDATA-56.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-32.csv
CC-EST2020-ALLDATA-18.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-23.csv
CC-EST2020-ALLDATA-54.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-28.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-30.csv
CC-EST2020-ALLDATA-40.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-34.csv
CC-EST2020-ALLDATA-02.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-05.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-15.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-29.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-51.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-46.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-49.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-31.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-01.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-17.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-12.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-10.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-37.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-27.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-24.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-38.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-20.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-35.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-13.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-39.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-53.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

CC-EST2020-ALLDATA-41.csv

<ipython-input-25-c3c94788b232>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,42,1,Pennsylvania,Adams County,1,0,101407,49865,51542,...,3134,2558,154,125,127,97,26,21,10,3
1,50,42,1,Pennsylvania,Adams County,1,1,5594,2847,2747,...,399,341,30,16,12,10,3,2,0,1
2,50,42,1,Pennsylvania,Adams County,1,2,6096,3123,2973,...,392,321,17,16,16,8,1,1,1,0
3,50,42,1,Pennsylvania,Adams County,1,3,6512,3257,3255,...,308,278,14,17,18,9,1,2,1,0
4,50,42,1,Pennsylvania,Adams County,1,4,7507,3753,3754,...,285,262,21,17,12,18,2,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776316,50,41,71,Oregon,Yamhill County,13,14,6394,3023,3371,...,209,179,4,3,17,7,1,2,2,1
776317,50,41,71,Oregon,Yamhill County,13,15,5239,2492,2747,...,139,117,2,3,7,5,1,4,0,0
776318,50,41,71,Oregon,Yamhill County,13,16,3609,1679,1930,...,68,64,3,1,5,2,2,1,1,0
776319,50,41,71,Oregon,Yamhill County,13,17,2228,975,1253,...,24,34,1,0,1,1,1,0,1,0
776320,50,41,71,Oregon,Yamhill County,13,18,2419,922,1497,...,34,53,2,0,0,3,3,0,0,0

In [ ]:
#Defining the year categories based on new dataset
def categorise2010(row):
    if row['YEAR'] == 1:
      return 0 
    if row['YEAR'] == 2:
        return 0
    if row['YEAR'] == 3:
        return 0
    if row['YEAR'] == 4:
        return 2011
    if row['YEAR'] == 5:
        return 2012
    if row['YEAR'] == 6:
        return 2013
    if row['YEAR'] == 7:
        return 2014
    if row['YEAR'] == 8:
        return 2015
    if row['YEAR'] == 9:
        return 2016
    if row['YEAR'] == 10:
        return 2017
    if row['YEAR'] == 11:
        return 2018
    if row['YEAR'] == 12:
        return 2019
    if row['YEAR'] == 13:
        return 2020    
    return 0

In [ ]:
#Applying new year function
df_csv_append2020['POP_YEAR'] = df_csv_append2020.apply (lambda row: categorise2010(row), axis=1)
df_csv_append2020

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR
0,50,42,1,Pennsylvania,Adams County,1,0,101407,49865,51542,...,2558,154,125,127,97,26,21,10,3,0
1,50,42,1,Pennsylvania,Adams County,1,1,5594,2847,2747,...,341,30,16,12,10,3,2,0,1,0
2,50,42,1,Pennsylvania,Adams County,1,2,6096,3123,2973,...,321,17,16,16,8,1,1,1,0,0
3,50,42,1,Pennsylvania,Adams County,1,3,6512,3257,3255,...,278,14,17,18,9,1,2,1,0,0
4,50,42,1,Pennsylvania,Adams County,1,4,7507,3753,3754,...,262,21,17,12,18,2,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776316,50,41,71,Oregon,Yamhill County,13,14,6394,3023,3371,...,179,4,3,17,7,1,2,2,1,2020
776317,50,41,71,Oregon,Yamhill County,13,15,5239,2492,2747,...,117,2,3,7,5,1,4,0,0,2020
776318,50,41,71,Oregon,Yamhill County,13,16,3609,1679,1930,...,64,3,1,5,2,2,1,1,0,2020
776319,50,41,71,Oregon,Yamhill County,13,17,2228,975,1253,...,34,1,0,1,1,1,0,1,0,2020
776320,50,41,71,Oregon,Yamhill County,13,18,2419,922,1497,...,53,2,0,0,3,3,0,0,0,2020

In [ ]:
#Dropping unnecessary age groups
df_csv_append2020 = df_csv_append2020[df_csv_append2020.AGEGRP == 0]

In [ ]:
df_csv_append2020

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR
0,50,42,1,Pennsylvania,Adams County,1,0,101407,49865,51542,...,2558,154,125,127,97,26,21,10,3,0
19,50,42,1,Pennsylvania,Adams County,2,0,101419,49876,51543,...,2561,154,125,127,100,26,22,10,3,0
38,50,42,1,Pennsylvania,Adams County,3,0,101472,49915,51557,...,2580,173,139,118,84,23,21,10,5,0
57,50,42,1,Pennsylvania,Adams County,4,0,101476,49996,51480,...,2626,190,158,136,99,27,29,17,5,2011
76,50,42,1,Pennsylvania,Adams County,5,0,101265,49879,51386,...,2633,212,180,136,122,28,26,14,12,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776226,50,41,71,Oregon,Yamhill County,9,0,104143,51938,52205,...,7064,196,158,573,472,161,131,56,38,2016
776245,50,41,71,Oregon,Yamhill County,10,0,105313,52562,52751,...,7186,201,177,585,483,163,139,58,46,2017
776264,50,41,71,Oregon,Yamhill County,11,0,106390,53197,53193,...,7312,210,164,591,481,170,139,64,46,2018
776283,50,41,71,Oregon,Yamhill County,12,0,106927,53491,53436,...,7478,217,178,608,485,168,137,64,51,2019
776302,50,41,71,Oregon,Yamhill County,13,0,107664,53817,53847,...,7621,234,196,629,505,167,160,73,55,2020

In [ ]:
#Creating composite FIPS key
df_csv_append2020['FIPS_COUNTY'] = df_csv_append2020['COUNTY'].astype(str)
df_csv_append2020['FIPS_COUNTY'] = df_csv_append2020['FIPS_COUNTY'].str.zfill(3)
df_csv_append2020['FIPS_STATE'] = df_csv_append2020['STATE'].astype(str)
df_csv_append2020['FIPS_STATE'] = df_csv_append2020['FIPS_STATE'].str.zfill(2)
df_csv_append2020['FIPS_CODE'] = df_csv_append2020['FIPS_STATE'] + df_csv_append2020['FIPS_COUNTY']
df_csv_append2020

<ipython-input-30-2320a71a1778>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append2020['FIPS_COUNTY'] = df_csv_append2020['COUNTY'].astype(str)
<ipython-input-30-2320a71a1778>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append2020['FIPS_COUNTY'] = df_csv_append2020['FIPS_COUNTY'].str.zfill(3)
<ipython-input-30-2320a71a1778>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append2020['FIPS_STATE'] = df_csv_append2020['STATE'].astype(str)
<ipython-input-30-2320a71a1778>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append2020['FIPS_STATE'] = df_csv_append2020['FIPS_STATE'].str.zfill(2)
<ipython-input-30-2320a71a1778>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append2020['FIPS_CODE'] = df_csv_append2020['FIPS_STATE'] + df_csv_append2020['FIPS_COUNTY']

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR,FIPS_COUNTY,FIPS_STATE,FIPS_CODE
0,50,42,1,Pennsylvania,Adams County,1,0,101407,49865,51542,...,127,97,26,21,10,3,0,001,42,42001
19,50,42,1,Pennsylvania,Adams County,2,0,101419,49876,51543,...,127,100,26,22,10,3,0,001,42,42001
38,50,42,1,Pennsylvania,Adams County,3,0,101472,49915,51557,...,118,84,23,21,10,5,0,001,42,42001
57,50,42,1,Pennsylvania,Adams County,4,0,101476,49996,51480,...,136,99,27,29,17,5,2011,001,42,42001
76,50,42,1,Pennsylvania,Adams County,5,0,101265,49879,51386,...,136,122,28,26,14,12,2012,001,42,42001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776226,50,41,71,Oregon,Yamhill County,9,0,104143,51938,52205,...,573,472,161,131,56,38,2016,071,41,41071
776245,50,41,71,Oregon,Yamhill County,10,0,105313,52562,52751,...,585,483,163,139,58,46,2017,071,41,41071
776264,50,41,71,Oregon,Yamhill County,11,0,106390,53197,53193,...,591,481,170,139,64,46,2018,071,41,41071
776283,50,41,71,Oregon,Yamhill County,12,0,106927,53491,53436,...,608,485,168,137,64,51,2019,071,41,41071
776302,50,41,71,Oregon,Yamhill County,13,0,107664,53817,53847,...,629,505,167,160,73,55,2020,071,41,41071

In [ ]:
#Dropping unnecessary years
df_csv_append2020 = df_csv_append2020[df_csv_append2020.POP_YEAR != 0]

In [ ]:
df_csv_append2020

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR,FIPS_COUNTY,FIPS_STATE,FIPS_CODE
57,50,42,1,Pennsylvania,Adams County,4,0,101476,49996,51480,...,136,99,27,29,17,5,2011,001,42,42001
76,50,42,1,Pennsylvania,Adams County,5,0,101265,49879,51386,...,136,122,28,26,14,12,2012,001,42,42001
95,50,42,1,Pennsylvania,Adams County,6,0,101156,49865,51291,...,141,119,30,38,19,14,2013,001,42,42001
114,50,42,1,Pennsylvania,Adams County,7,0,101376,49929,51447,...,155,123,31,32,18,9,2014,001,42,42001
133,50,42,1,Pennsylvania,Adams County,8,0,101847,50281,51566,...,158,133,34,35,28,17,2015,001,42,42001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776226,50,41,71,Oregon,Yamhill County,9,0,104143,51938,52205,...,573,472,161,131,56,38,2016,071,41,41071
776245,50,41,71,Oregon,Yamhill County,10,0,105313,52562,52751,...,585,483,163,139,58,46,2017,071,41,41071
776264,50,41,71,Oregon,Yamhill County,11,0,106390,53197,53193,...,591,481,170,139,64,46,2018,071,41,41071
776283,50,41,71,Oregon,Yamhill County,12,0,106927,53491,53436,...,608,485,168,137,64,51,2019,071,41,41071
776302,50,41,71,Oregon,Yamhill County,13,0,107664,53817,53847,...,629,505,167,160,73,55,2020,071,41,41071

In [ ]:
#Downloading csv
df_csv_append2020.to_csv('Census2010-2020.csv', encoding = 'utf-8-sig') 
files.download('Census2010-2020.csv')

In [ ]:
#Repeating steps for 2021 data
path = '/content/Census_data/2020-2021'
extension = 'csv'
os.chdir(path)
result = glob.glob('*.{}'.format(extension))
df_csv_append2021 = pd.DataFrame()
for file in result:
    print(file)
    df = pd.read_csv(file, encoding='latin-1')
    df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
 
df_csv_append2021

cc-est2021-alldata-21.csv
cc-est2021-alldata-05.csv
cc-est2021-alldata-56.csv
cc-est2021-alldata-50.csv
cc-est2021-alldata-31.csv
cc-est2021-alldata-11.csv
cc-est2021-alldata-54.csv

<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)

cc-est2021-alldata-26.csv
cc-est2021-alldata-24.csv
cc-est2021-alldata-42.csv
cc-est2021-alldata-10.csv
cc-est2021-alldata-22.csv

<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)

cc-est2021-alldata-17.csv
cc-est2021-alldata-44.csv
cc-est2021-alldata-13.csv
cc-est2021-alldata-29.csv

<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)

cc-est2021-alldata-48.csv
cc-est2021-alldata-35.csv
cc-est2021-alldata-34.csv

<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)

cc-est2021-alldata-23.csv
cc-est2021-alldata-41.csv
cc-est2021-alldata-25.csv
cc-est2021-alldata-37.csv

<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)

cc-est2021-alldata-46.csv
cc-est2021-alldata-36.csv
cc-est2021-alldata-53.csv
cc-est2021-alldata-49.csv

<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)

cc-est2021-alldata-45.csv
cc-est2021-alldata-20.csv
cc-est2021-alldata-19.csv

<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)

cc-est2021-alldata-27.csv
cc-est2021-alldata-12.csv
cc-est2021-alldata-47.csv

<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)

cc-est2021-alldata-51.csv
cc-est2021-alldata-30.csv
cc-est2021-alldata-38.csv

<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)

cc-est2021-alldata-33.csv
cc-est2021-alldata-04.csv
cc-est2021-alldata-02.csv
cc-est2021-alldata-55.csv

<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)

cc-est2021-alldata-18.csv
cc-est2021-alldata-16.csv
cc-est2021-alldata-01.csv

<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)

cc-est2021-alldata-40.csv
cc-est2021-alldata-08.csv
cc-est2021-alldata-09.csv

<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)

cc-est2021-alldata-28.csv
cc-est2021-alldata-06.csv
cc-est2021-alldata-32.csv

<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
<ipython-input-34-050a65ac1736>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)

cc-est2021-alldata-15.csv
cc-est2021-alldata-39.csv

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,21,1,Kentucky,Adair County,1,0,18903,9460,9443,...,224,178,27,14,16,12,11,9,5,7
1,50,21,1,Kentucky,Adair County,1,1,957,490,467,...,17,21,3,2,0,2,0,0,1,1
2,50,21,1,Kentucky,Adair County,1,2,968,536,432,...,24,17,8,1,2,2,2,4,1,0
3,50,21,1,Kentucky,Adair County,1,3,1092,569,523,...,17,14,1,1,0,2,1,0,0,2
4,50,21,1,Kentucky,Adair County,1,4,1626,863,763,...,27,22,3,1,3,0,4,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179146,50,39,175,Ohio,Wyandot County,3,14,1429,688,741,...,9,14,0,0,1,0,0,0,0,0
179147,50,39,175,Ohio,Wyandot County,3,15,1156,534,622,...,8,2,0,0,1,1,0,0,0,0
179148,50,39,175,Ohio,Wyandot County,3,16,759,362,397,...,2,1,0,0,1,0,0,0,0,0
179149,50,39,175,Ohio,Wyandot County,3,17,554,239,315,...,1,5,0,0,0,0,0,0,0,0
179150,50,39,175,Ohio,Wyandot County,3,18,531,170,361,...,2,6,0,0,0,0,0,0,0,0

In [ ]:
#Only want to keep 1 year, defining function for categorizing years
def categorise2021(row):
    if row['YEAR'] == 3:
      return 2021  
    return 0

In [ ]:
#Applying year categorization
df_csv_append2021['POP_YEAR'] = df_csv_append2021.apply (lambda row: categorise2021(row), axis=1)
df_csv_append2021

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR
0,50,21,1,Kentucky,Adair County,1,0,18903,9460,9443,...,178,27,14,16,12,11,9,5,7,0
1,50,21,1,Kentucky,Adair County,1,1,957,490,467,...,21,3,2,0,2,0,0,1,1,0
2,50,21,1,Kentucky,Adair County,1,2,968,536,432,...,17,8,1,2,2,2,4,1,0,0
3,50,21,1,Kentucky,Adair County,1,3,1092,569,523,...,14,1,1,0,2,1,0,0,2,0
4,50,21,1,Kentucky,Adair County,1,4,1626,863,763,...,22,3,1,3,0,4,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179146,50,39,175,Ohio,Wyandot County,3,14,1429,688,741,...,14,0,0,1,0,0,0,0,0,2021
179147,50,39,175,Ohio,Wyandot County,3,15,1156,534,622,...,2,0,0,1,1,0,0,0,0,2021
179148,50,39,175,Ohio,Wyandot County,3,16,759,362,397,...,1,0,0,1,0,0,0,0,0,2021
179149,50,39,175,Ohio,Wyandot County,3,17,554,239,315,...,5,0,0,0,0,0,0,0,0,2021
179150,50,39,175,Ohio,Wyandot County,3,18,531,170,361,...,6,0,0,0,0,0,0,0,0,2021

In [ ]:
#Dropping unnecessary age groups
df_csv_append2021 = df_csv_append2021[df_csv_append2021.AGEGRP == 0]

In [ ]:
df_csv_append2021

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR
0,50,21,1,Kentucky,Adair County,1,0,18903,9460,9443,...,178,27,14,16,12,11,9,5,7,0
19,50,21,1,Kentucky,Adair County,2,0,18870,9453,9417,...,177,28,14,18,17,11,7,4,8,0
38,50,21,1,Kentucky,Adair County,3,0,18932,9488,9444,...,200,31,17,19,18,10,6,4,6,2021
57,50,21,3,Kentucky,Allen County,1,0,20588,10307,10281,...,209,25,12,17,12,4,3,2,0,0
76,50,21,3,Kentucky,Allen County,2,0,20595,10326,10269,...,204,25,11,15,12,2,3,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179056,50,39,173,Ohio,Wood County,2,0,132212,65618,66594,...,3574,230,234,167,152,57,52,32,20,0
179075,50,39,173,Ohio,Wood County,3,0,132472,65770,66702,...,3672,256,247,169,160,63,62,30,18,2021
179094,50,39,175,Ohio,Wyandot County,1,0,21900,10921,10979,...,329,22,21,24,21,9,7,0,1,0
179113,50,39,175,Ohio,Wyandot County,2,0,21854,10898,10956,...,325,21,16,21,25,13,9,1,2,0
179132,50,39,175,Ohio,Wyandot County,3,0,21708,10807,10901,...,330,20,19,23,16,12,8,1,2,2021

In [ ]:
#Creating composite FIPS code
df_csv_append2021['FIPS_COUNTY'] = df_csv_append2021['COUNTY'].astype(str)
df_csv_append2021['FIPS_COUNTY'] = df_csv_append2021['FIPS_COUNTY'].str.zfill(3)
df_csv_append2021['FIPS_STATE'] = df_csv_append2021['STATE'].astype(str)
df_csv_append2021['FIPS_STATE'] = df_csv_append2021['FIPS_STATE'].str.zfill(2)
df_csv_append2021['FIPS_CODE'] = df_csv_append2021['FIPS_STATE'] + df_csv_append2021['FIPS_COUNTY']
df_csv_append2021

<ipython-input-39-b198ee04e469>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append2021['FIPS_COUNTY'] = df_csv_append2021['COUNTY'].astype(str)
<ipython-input-39-b198ee04e469>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append2021['FIPS_COUNTY'] = df_csv_append2021['FIPS_COUNTY'].str.zfill(3)
<ipython-input-39-b198ee04e469>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append2021['FIPS_STATE'] = df_csv_append2021['STATE'].astype(str)
<ipython-input-39-b198ee04e469>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append2021['FIPS_STATE'] = df_csv_append2021['FIPS_STATE'].str.zfill(2)
<ipython-input-39-b198ee04e469>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csv_append2021['FIPS_CODE'] = df_csv_append2021['FIPS_STATE'] + df_csv_append2021['FIPS_COUNTY']

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR,FIPS_COUNTY,FIPS_STATE,FIPS_CODE
0,50,21,1,Kentucky,Adair County,1,0,18903,9460,9443,...,16,12,11,9,5,7,0,001,21,21001
19,50,21,1,Kentucky,Adair County,2,0,18870,9453,9417,...,18,17,11,7,4,8,0,001,21,21001
38,50,21,1,Kentucky,Adair County,3,0,18932,9488,9444,...,19,18,10,6,4,6,2021,001,21,21001
57,50,21,3,Kentucky,Allen County,1,0,20588,10307,10281,...,17,12,4,3,2,0,0,003,21,21003
76,50,21,3,Kentucky,Allen County,2,0,20595,10326,10269,...,15,12,2,3,3,1,0,003,21,21003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179056,50,39,173,Ohio,Wood County,2,0,132212,65618,66594,...,167,152,57,52,32,20,0,173,39,39173
179075,50,39,173,Ohio,Wood County,3,0,132472,65770,66702,...,169,160,63,62,30,18,2021,173,39,39173
179094,50,39,175,Ohio,Wyandot County,1,0,21900,10921,10979,...,24,21,9,7,0,1,0,175,39,39175
179113,50,39,175,Ohio,Wyandot County,2,0,21854,10898,10956,...,21,25,13,9,1,2,0,175,39,39175
179132,50,39,175,Ohio,Wyandot County,3,0,21708,10807,10901,...,23,16,12,8,1,2,2021,175,39,39175

In [ ]:
#Dropping unnecessary years
df_csv_append2021 = df_csv_append2021[df_csv_append2021.POP_YEAR != 0]

In [ ]:
df_csv_append2021

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR,FIPS_COUNTY,FIPS_STATE,FIPS_CODE
38,50,21,1,Kentucky,Adair County,3,0,18932,9488,9444,...,19,18,10,6,4,6,2021,001,21,21001
95,50,21,3,Kentucky,Allen County,3,0,20797,10402,10395,...,16,13,4,6,2,0,2021,003,21,21003
152,50,21,5,Kentucky,Anderson County,3,0,24035,11929,12106,...,30,18,8,8,5,6,2021,005,21,21005
209,50,21,7,Kentucky,Ballard County,3,0,7695,3852,3843,...,4,9,1,4,1,0,2021,007,21,21007
266,50,21,9,Kentucky,Barren County,3,0,44544,21665,22879,...,81,41,30,35,45,30,2021,009,21,21009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178904,50,39,167,Ohio,Washington County,3,0,59423,29426,29997,...,18,27,3,11,4,5,2021,167,39,39167
178961,50,39,169,Ohio,Wayne County,3,0,116710,58478,58232,...,147,54,34,22,30,23,2021,169,39,39169
179018,50,39,171,Ohio,Williams County,3,0,36716,18400,18316,...,49,36,8,9,5,4,2021,171,39,39171
179075,50,39,173,Ohio,Wood County,3,0,132472,65770,66702,...,169,160,63,62,30,18,2021,173,39,39173
179132,50,39,175,Ohio,Wyandot County,3,0,21708,10807,10901,...,23,16,12,8,1,2,2021,175,39,39175

In [ ]:
#Creating one data frame which is all census data from 2000-2021
df_census_data = pd.DataFrame()
df_census_data = df_census_data.append(df_csv_append, ignore_index=True)
df_census_data = df_census_data.append(df_csv_append2020, ignore_index=True)
df_census_data = df_census_data.append(df_csv_append2021, ignore_index=True)
df_census_data

<ipython-input-42-bffbbdf65de7>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_census_data = df_census_data.append(df_csv_append, ignore_index=True)
<ipython-input-42-bffbbdf65de7>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_census_data = df_census_data.append(df_csv_append2020, ignore_index=True)
<ipython-input-42-bffbbdf65de7>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_census_data = df_census_data.append(df_csv_append2021, ignore_index=True)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,24,1,Maryland,Allegany County,2,0,732,390,342,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50,24,1,Maryland,Allegany County,3,0,728,358,370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50,24,1,Maryland,Allegany County,4,0,669,372,297,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50,24,1,Maryland,Allegany County,5,0,703,395,308,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50,24,1,Maryland,Allegany County,6,0,654,334,320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69141,50,39,167,Ohio,Washington County,3,0,59423,29426,29997,...,311,326,25,31,18,27,3,11,4,5
69142,50,39,169,Ohio,Wayne County,3,0,116710,58478,58232,...,1283,1042,153,56,147,54,34,22,30,23
69143,50,39,171,Ohio,Williams County,3,0,36716,18400,18316,...,942,868,56,38,49,36,8,9,5,4
69144,50,39,173,Ohio,Wood County,3,0,132472,65770,66702,...,3832,3672,256,247,169,160,63,62,30,18
69145,50,39,175,Ohio,Wyandot County,3,0,21708,10807,10901,...,333,330,20,19,23,16,12,8,1,2

In [ ]:
#Reading in health data 
health_data = pd.read_csv("/content/Health_data/2010-2022_Health_Data.csv")
health_data.head()

,FIPS,State,County,YPLL Rate,Premature death 95% CI - Low,Premature death 95% CI - High,% Fair/Poor health,Poor or fair health 95% CI - Low,Poor or fair health 95% CI - High,Physically Unhealthy Days,...,% Uninsured,Uninsured 95% CI - Low,Uninsured 95% CI - High,% unemployed,% Children in Poverty,Children in poverty 95% CI - Low,Children in poverty 95% CI - High,Violent Crimes,Violent Crime Rate,Year
0,1001,Alabama,Autauga,9778.1,8785.9,10770.2,25.86,20.03,32.68,5.48,...,14.0,12.0,16.0,4.6,13.8,11.2,16.4,377.0,256.49,2010
1,1003,Alabama,Baldwin,8221.7,7715.9,8727.4,13.38,11.13,16.00,3.57,...,20.9,18.7,23.1,4.1,15.3,12.7,17.9,862.0,171.62,2010
2,1005,Alabama,Barbour,10686.1,9262.8,12109.4,24.42,18.48,31.54,6.11,...,15.1,12.8,17.4,7.8,34.1,27.9,40.3,54.0,64.01,2010
3,1007,Alabama,Bibb,13069.5,11270.6,14868.3,18.17,12.30,26.01,4.22,...,17.7,15.2,20.2,5.2,24.2,19.2,29.2,82.0,127.58,2010
4,1009,Alabama,Blount,8929.7,8040.2,9819.1,24.93,19.45,31.36,5.62,...,20.8,18.3,23.3,4.1,18.5,15.1,21.9,157.0,93.78,2010

In [ ]:
#Creating new FIPS column which is string to be able to join with census data
health_data['FIPS_NEW'] = health_data['FIPS'].astype(str)
health_data.head()

,FIPS,State,County,YPLL Rate,Premature death 95% CI - Low,Premature death 95% CI - High,% Fair/Poor health,Poor or fair health 95% CI - Low,Poor or fair health 95% CI - High,Physically Unhealthy Days,...,Uninsured 95% CI - Low,Uninsured 95% CI - High,% unemployed,% Children in Poverty,Children in poverty 95% CI - Low,Children in poverty 95% CI - High,Violent Crimes,Violent Crime Rate,Year,FIPS_NEW
0,1001,Alabama,Autauga,9778.1,8785.9,10770.2,25.86,20.03,32.68,5.48,...,12.0,16.0,4.6,13.8,11.2,16.4,377.0,256.49,2010,1001
1,1003,Alabama,Baldwin,8221.7,7715.9,8727.4,13.38,11.13,16.00,3.57,...,18.7,23.1,4.1,15.3,12.7,17.9,862.0,171.62,2010,1003
2,1005,Alabama,Barbour,10686.1,9262.8,12109.4,24.42,18.48,31.54,6.11,...,12.8,17.4,7.8,34.1,27.9,40.3,54.0,64.01,2010,1005
3,1007,Alabama,Bibb,13069.5,11270.6,14868.3,18.17,12.30,26.01,4.22,...,15.2,20.2,5.2,24.2,19.2,29.2,82.0,127.58,2010,1007
4,1009,Alabama,Blount,8929.7,8040.2,9819.1,24.93,19.45,31.36,5.62,...,18.3,23.3,4.1,18.5,15.1,21.9,157.0,93.78,2010,1009

In [ ]:
#Adding leading zeroes necessary for format
health_data['FIPS_NEW'] = health_data['FIPS_NEW'].str.zfill(5)

In [ ]:
health_data.head()

,FIPS,State,County,YPLL Rate,Premature death 95% CI - Low,Premature death 95% CI - High,% Fair/Poor health,Poor or fair health 95% CI - Low,Poor or fair health 95% CI - High,Physically Unhealthy Days,...,Uninsured 95% CI - Low,Uninsured 95% CI - High,% unemployed,% Children in Poverty,Children in poverty 95% CI - Low,Children in poverty 95% CI - High,Violent Crimes,Violent Crime Rate,Year,FIPS_NEW
0,1001,Alabama,Autauga,9778.1,8785.9,10770.2,25.86,20.03,32.68,5.48,...,12.0,16.0,4.6,13.8,11.2,16.4,377.0,256.49,2010,01001
1,1003,Alabama,Baldwin,8221.7,7715.9,8727.4,13.38,11.13,16.00,3.57,...,18.7,23.1,4.1,15.3,12.7,17.9,862.0,171.62,2010,01003
2,1005,Alabama,Barbour,10686.1,9262.8,12109.4,24.42,18.48,31.54,6.11,...,12.8,17.4,7.8,34.1,27.9,40.3,54.0,64.01,2010,01005
3,1007,Alabama,Bibb,13069.5,11270.6,14868.3,18.17,12.30,26.01,4.22,...,15.2,20.2,5.2,24.2,19.2,29.2,82.0,127.58,2010,01007
4,1009,Alabama,Blount,8929.7,8040.2,9819.1,24.93,19.45,31.36,5.62,...,18.3,23.3,4.1,18.5,15.1,21.9,157.0,93.78,2010,01009

In [ ]:
#Joining census and health data on FIPS and year
census_health = pd.merge(df_census_data, health_data,  how='left', left_on=['FIPS_CODE','POP_YEAR'], right_on = ['FIPS_NEW','Year'])
census_health.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,Uninsured 95% CI - Low,Uninsured 95% CI - High,% unemployed,% Children in Poverty,Children in poverty 95% CI - Low,Children in poverty 95% CI - High,Violent Crimes,Violent Crime Rate,Year,FIPS_NEW
0,50,24,1,Maryland,Allegany County,2,0,732,390,342,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50,24,1,Maryland,Allegany County,3,0,728,358,370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50,24,1,Maryland,Allegany County,4,0,669,372,297,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50,24,1,Maryland,Allegany County,5,0,703,395,308,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50,24,1,Maryland,Allegany County,6,0,654,334,320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Creating surrogate keys
census_health = census_health.assign(County_Key=range(len(census_health)))
census_health

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,Uninsured 95% CI - High,% unemployed,% Children in Poverty,Children in poverty 95% CI - Low,Children in poverty 95% CI - High,Violent Crimes,Violent Crime Rate,Year,FIPS_NEW,County_Key
0,50,24,1,Maryland,Allegany County,2,0,732,390,342,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,50,24,1,Maryland,Allegany County,3,0,728,358,370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,50,24,1,Maryland,Allegany County,4,0,669,372,297,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,50,24,1,Maryland,Allegany County,5,0,703,395,308,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,50,24,1,Maryland,Allegany County,6,0,654,334,320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69141,50,39,167,Ohio,Washington County,3,0,59423,29426,29997,...,9.45,5.37,15.2,9.96,20.44,58.0,97.54,2021.0,39167,69141
69142,50,39,169,Ohio,Wayne County,3,0,116710,58478,58232,...,13.74,3.24,13.9,9.85,17.95,127.0,117.57,2021.0,39169,69142
69143,50,39,171,Ohio,Williams County,3,0,36716,18400,18316,...,8.46,3.31,13.3,8.77,17.83,NaN,NaN,2021.0,39171,69143
69144,50,39,173,Ohio,Wood County,3,0,132472,65770,66702,...,7.36,3.66,9.8,6.94,12.66,89.0,77.12,2021.0,39173,69144
69145,50,39,175,Ohio,Wyandot County,3,0,21708,10807,10901,...,8.54,3.13,9.7,6.24,13.16,20.0,93.21,2021.0,39175,69145

In [ ]:
#Downloading csv
census_health.to_csv('Census_Health.csv', encoding = 'utf-8-sig') 
files.download('Census_Health.csv')